
# https://en.wikipedia.org/wiki/List_of_Apache_modules
<IfModule mod_headers.c>
</IfModule>
php_flag engine off
	<Files *>
		#AddHandler text/plain .phar
		#AddType text/plain .phar
		#ForceType text/plain
		
		#ForceType application/octet-stream
		#Header set Content-Disposition attachment
		#ForceType text/html
	</Files>
<IfModule mod_mime.c>
#	AddHandler text/plain .phar
#	AddType text/plain .phar
#	ForceType text/plain .phar

#	AddHandler text/plain .sig
#	AddType text/plain .sig
#	ForceType text/plain .sig
</IfModule>
